@import "tailwindcss";

@theme {
    --color-primary: #3B82F6;
    --color-nav: #41b4fb;
}

body {
    font-family: monospace;
    background-color: #0F172A;
    overflow-x: hidden;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media (max-width: 500px) {
    .i-build {
        font-size: 2.4rem;
    }
}

@media (max-width: 430px) {
    .i-build {
        font-size: 2rem;
    }
}

@media (max-width: 350px) {
    .i-build {
        font-size: 1rem;
    }

    .profile-card {
        max-width: 250px;
    }
}


@media (max-width: 1124px) {
    .nav-card {
        display: none;
    }
}